name: GitHub Actions Demo
on:
  push:
    branches: ["master"]
jobs:
  init:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.2]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
        node-version: 16.x
        cache: "npm"
      - name: install modules
        run: npm install
      - name: build project
        run: npm run build
      - name: build storybook
        run: npm run build:storybook
      - name: e2e test
        run: npm run test:e2e
      - name: lint code
        run: npm run lint
